In [14]:
import requests
import traceback
import os
import boto3
import pandas as pd
from dotenv import load_dotenv
from github_python_fetch import fetch_function
from query_package import get_query_package
from datetime import datetime


load_dotenv()

# RDS Access
username = os.getenv('USER')
password = os.getenv('PASS')
server = os.getenv('SERVER')
db = os.getenv('DB')

# GitHub Access 
token = os.getenv('GITHUBTOKEN')


# Access RDS Functions via GitHub
rds_connector_url = 'https://raw.githubusercontent.com/CharlesRoss-MBakerIntl/TB-RDS-Connect/main/rds_connector.py' # Set url to python file of github
rds_connector = fetch_function(rds_connector_url, token) # Pull function from github using requests
exec(rds_connector) # Execute the file

#Acquire Query Package
query_package = get_query_package()

# Connect to RDS Database
conn, cursor = rds_connection(username, password, db, server) 

#Set RDS
rds = RDS(conn, cursor, query_package) # Create Instance of RDS Table

In [5]:
query = """
        SELECT 
      page.project_id,
      project.name,
      page.id AS page_id,
      page.title AS page_title,
      section.id AS section_id,
      section.title AS section_title,
      ctype.model,
      section_block.id AS section_block_id,
      section_block.is_available_to_applicant,
      blocks.question_id,
      blocks.label,
      blocks.is_required
   FROM application_display_section section
     LEFT JOIN application_display_sectionblock section_block ON section.id = section_block.section_id
     LEFT JOIN django_content_type ctype ON section_block.polymorphic_ctype_id = ctype.id
     LEFT JOIN application_display_page page ON section.page_id = page.id
    LEFT JOIN project_config_project project ON page.project_id = project.id
     LEFT JOIN ( SELECT application_display_addressquestionblock.sectionblock_ptr_id,
            application_display_addressquestionblock.label,
            application_display_addressquestionblock.question_id,
            application_display_addressquestionblock.is_required
           FROM application_display_addressquestionblock
        UNION ALL
         SELECT application_display_applicationawardquestionblock.sectionblock_ptr_id,
            application_display_applicationawardquestionblock.label,
            application_display_applicationawardquestionblock.question_id,
            application_display_applicationawardquestionblock.is_required
           FROM application_display_applicationawardquestionblock
        UNION ALL
         SELECT application_display_attestationquestionblock.sectionblock_ptr_id,
            application_display_attestationquestionblock.label,
            application_display_attestationquestionblock.question_id,
            application_display_attestationquestionblock.is_required
           FROM application_display_attestationquestionblock
        UNION ALL
         SELECT application_display_bankaccountquestionblock.sectionblock_ptr_id,
            application_display_bankaccountquestionblock.label,
            application_display_bankaccountquestionblock.question_id,
            application_display_bankaccountquestionblock.is_required
           FROM application_display_bankaccountquestionblock
        UNION ALL
         SELECT application_display_coordinatesquestionblock.sectionblock_ptr_id,
            application_display_coordinatesquestionblock.label,
            application_display_coordinatesquestionblock.question_id,
            application_display_coordinatesquestionblock.is_required
           FROM application_display_coordinatesquestionblock
        UNION ALL
         SELECT application_display_currencyquestionblock.sectionblock_ptr_id,
            application_display_currencyquestionblock.label,
            application_display_currencyquestionblock.question_id,
            application_display_currencyquestionblock.is_required
           FROM application_display_currencyquestionblock
        UNION ALL
         SELECT application_display_datequestionblock.sectionblock_ptr_id,
            application_display_datequestionblock.label,
            application_display_datequestionblock.question_id,
            application_display_datequestionblock.is_required
           FROM application_display_datequestionblock
        UNION ALL
         SELECT application_display_documentquestionblock.sectionblock_ptr_id,
            application_display_documentquestionblock.label,
            application_display_documentquestionblock.question_id,
            application_display_documentquestionblock.is_required
           FROM application_display_documentquestionblock
        UNION ALL
         SELECT application_display_emailquestionblock.sectionblock_ptr_id,
            application_display_emailquestionblock.label,
            application_display_emailquestionblock.question_id,
            application_display_emailquestionblock.is_required
           FROM application_display_emailquestionblock
        UNION ALL
         SELECT application_display_multipleselectquestionblock.sectionblock_ptr_id,
            application_display_multipleselectquestionblock.label,
            application_display_multipleselectquestionblock.question_id,
            application_display_multipleselectquestionblock.is_required
           FROM application_display_multipleselectquestionblock
        UNION ALL
         SELECT application_display_multivalueconditionalquestionblock.sectionblock_ptr_id,
            application_display_multivalueconditionalquestionblock.label,
            application_display_multivalueconditionalquestionblock.question_id,
            application_display_multivalueconditionalquestionblock.is_required
           FROM application_display_multivalueconditionalquestionblock
        UNION ALL
         SELECT application_display_numberquestionblock.sectionblock_ptr_id,
            application_display_numberquestionblock.label,
            application_display_numberquestionblock.question_id,
            application_display_numberquestionblock.is_required
           FROM application_display_numberquestionblock
        UNION ALL
         SELECT application_display_phonequestionblock.sectionblock_ptr_id,
            application_display_phonequestionblock.label,
            application_display_phonequestionblock.question_id,
            application_display_phonequestionblock.is_required
           FROM application_display_phonequestionblock
        UNION ALL
         SELECT application_display_repeatingquestionblock.sectionblock_ptr_id,
            application_display_repeatingquestionblock.label,
            application_display_repeatingquestionblock.question_id,
            application_display_repeatingquestionblock.is_required
           FROM application_display_repeatingquestionblock
        UNION ALL
         SELECT application_display_singleselectquestionblock.sectionblock_ptr_id,
            application_display_singleselectquestionblock.label,
            application_display_singleselectquestionblock.question_id,
            application_display_singleselectquestionblock.is_required
           FROM application_display_singleselectquestionblock
        UNION ALL
         SELECT application_display_textareaquestionblock.sectionblock_ptr_id,
            application_display_textareaquestionblock.label,
            application_display_textareaquestionblock.question_id,
            application_display_textareaquestionblock.is_required
           FROM application_display_textareaquestionblock
        UNION ALL
         SELECT application_display_textboxquestionblock.sectionblock_ptr_id,
            application_display_textboxquestionblock.label,
            application_display_textboxquestionblock.question_id,
            application_display_textboxquestionblock.is_required
           FROM application_display_textboxquestionblock
        UNION ALL
         SELECT application_display_tinquestionblock.sectionblock_ptr_id,
            application_display_tinquestionblock.label,
            application_display_tinquestionblock.question_id,
            application_display_tinquestionblock.is_required
           FROM application_display_tinquestionblock
        UNION ALL
         SELECT application_display_contentblock.sectionblock_ptr_id,
            application_display_contentblock.content AS label,
            NULL AS question_id,
            NULL AS is_required
           FROM application_display_contentblock) blocks ON section_block.id = blocks.sectionblock_ptr_id
  ORDER BY page.project_id, page.order, section.order, section_block.order;

"""

In [6]:
result = rds_sql_pull(cursor, query)

In [10]:
for index, row in result.iterrows():
    if row['label'] is not None:
        if "bookings" in row['label'].lower():
            print(row['label'])

            entry = pd.DataFrame(row).T

Please Enter the Number of Active Bookings Required

In [18]:
entry

,page_id,page_title,section_id,section_title,model,section_block_id,question_id,label
151,48.0,Hotel Manager,354,Hotel Booking Information,numberquestionblock,1759.0,1010.0,Please Enter the Number of Active Bookings Req...

In [17]:
print(rds.query)

SELECT
    app.application_number AS application_number,
    app.created_at AS created_at,
    hotel_name.value AS hotel_name,
    hotel_address.line1 AS hotel_address_line_1,
    hotel_address.line2 AS hotel_address_line_2,
    hotel_address.city AS hotel_city,
    hotel_address.state AS hotel_state,
    hotel_address.zip AS hotel_zip,
    hotel_status.value AS hotel_status,
    license_in.value AS license_in,
    license_out.value AS license_out,
    total_in_household.value AS total_in_household

FROM
    applications_application app

LEFT JOIN application_data_answer initial_join_answers ON app.id = initial_join_answers.application_id AND initial_join_answers.question_id = 1015
LEFT JOIN application_data_textboxanswer hotel_name ON initial_join_answers.id = hotel_name.answer_ptr_id

LEFT JOIN application_data_answer join_answers_1 ON initial_join_answers.repeating_answer_section_id = join_answers_1.repeating_answer_section_id AND join_answers_1.question_id = 1016
LEFT JOIN application_data_addressanswer hotel_address ON join_answers_1.id = hotel_address.answer_ptr_id

LEFT JOIN application_data_answer join_answers_2 ON initial_join_answers.repeating_answer_section_id = join_answers_2.repeating_answer_section_id AND join_answers_2.question_id = 1013
LEFT JOIN application_data_singleselectanswer hotel_status ON join_answers_2.id = hotel_status.answer_ptr_id

LEFT JOIN application_data_answer join_answers_3 ON initial_join_answers.repeating_answer_section_id = join_answers_3.repeating_answer_section_id AND join_answers_3.question_id = 1021
LEFT JOIN application_data_dateanswer license_in ON join_answers_3.id = license_in.answer_ptr_id

LEFT JOIN application_data_answer join_answers_4 ON initial_join_answers.repeating_answer_section_id = join_answers_4.repeating_answer_section_id AND join_answers_4.question_id = 1022
LEFT JOIN application_data_dateanswer license_out ON join_answers_4.id = license_out.answer_ptr_id

LEFT JOIN application_data_answer join_answers_5 ON app.id = join_answers_5.application_id AND join_answers_5.question_id = 596
LEFT JOIN application_data_numberanswer total_in_household ON join_answers_5.id = total_in_household.answer_ptr_id

 WHERE
    app.project_id = 34
 ORDER BY
app.id;

In [11]:
entry

,page_id,page_title,section_id,section_title,model,section_block_id,question_id,label
151,48.0,Hotel Manager,354,Hotel Booking Information,numberquestionblock,1759.0,1010.0,Please Enter the Number of Active Bookings Req...